<appSettings>
  <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="#{BotId}" />
    <add key="MicrosoftAppId" value="#{MicrosoftAppId}#" />
    <add key="MicrosoftAppPassword" value="#{MicrosoftAppPassword}#" />

    <!--LUIS-->
    <add key="LuisId" value="#{LuisId}#" />
    <add key="LuisSubscriptionKey" value="#{LuisSubscriptionKey}#" />

    <!--YELP-->
    <add key="YelpApiKey" value="#{YelpApiKey}#"/>
</appSettings>