<appSettings>
  <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
  <add key="BotId" value="#{BotId}" />
  <add key="MicrosoftAppId" value="#{MicrosoftAppId}#" />
  <add key="MicrosoftAppPassword" value="#{MicrosoftAppPassword}#" />

  <!--LUIS-->
  <add key="LuisId" value="#{LuisId}#" />
  <add key="LuisSubscriptionKey" value="#{LuisSubscriptionKey}#" />

  <!--YELP-->
  <add key="YelpApiKey" value="#{YelpApiKey}#"/>
  <add key="YelpBaseUrl" value="https://api.yelp.com/v3/businesses/search" />
  
  <!--COTAÇÕES-->
  <add key="CotacoesBaseUrl" value="http://api.promasters.net.br/cotacao/v1/" />

  <!--RECONHECIMENTO FALA-->
  <add key="ReconhecimentoFalaApiKey" value="#{ReconhecimentoFalaApiKey}#" />

  <!--TRADUÇÃO-->
  <add key="TraducaoBaseUrl" value="https://api.microsofttranslator.com/V2/Http.svc" />
  <add key="TraducaoApiKey" value="#{TraducaoApiKey}#" />

  <!--AUTENTICACAO TRADUCAO-->
  <add key="AutenticacaoBaseUrl" value="https://api.cognitive.microsoft.com/sts/v1.0/issueToken" />
</appSettings>